@font-face {font-family: "iconfont";
  src: url('./iconfont/iconfont.eot?t=1563971175127'); /* IE9 */
  src: url('./iconfont/iconfont.eot?t=1563971175127#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALEAAsAAAAABqwAAAJ3AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBGIEYATYCJAMMCwgABCAFhG0HMxvbBcgOJS0PwYBhAEBkPHzt93ru7r4XBJcoQJdIwPFRgCoTBewI2qpWuhpdYVhX//+dy38DIJWRA0SFru3RT8vpSzNme2ingJTZhMTn5/NcTu+u8gUyv2W5zLH8qBdgHFBAe1MviqyIAuAW2UXciYu4T6DVsCa+9ZmlVchSoGWBONHVAGQVkopiVJqFumFvEd9UmtOX9AHga/T9+AcdkUVSZWjtxvF0GMZ+pv7Mzk+NY/uckCLIhytkzACFOGwsbksVBi9VqzGtu7FWhDRXptEgUvrmeqd/vETUUHs7mJBLiZ+pVELwM/uABDKoi+VRYFZh9Y8L0de7F7stC1O25eG4HMujd5Vq/GSPVtT4I8ePeR06zz6f9N53J6oTswuLc8ma+uqkXypO1FxLgWQ19F5WOuwbye+oq+nWzcuyOAR+6GfyWxoF5Od0LBDcrTT+KYXz/7PaCvghMzWyF7AwzacIBb9MBewpvga5cnGVVBmGsz6APyHLzYgGFO31Pd48AO4mNBsYEW4ylCFrNkIW1gwqbeZQa7aEVtNmD7fpw6WK0oIpFxJCt3cknb4j6/ZJFtYXKoP+UeuOVLTajL4z24yFnrPGMSAwTII7RA8xhxKPyIk7l1HdsAI8r4n468g9PUPaW9rKlVl0kM+xwdtUO4SghHJmkxnpMbQsRlzODAyJFk0Id6C1lTa9qSXEbMixhkMBAgojgnYQuhDGQflgIafy+WVItcESwDtoPel1iPPooxPtWrQByFmjA6LdyyueTaoOgkARFMfYiBlpFrJYGMJtnmVAIUILbUTeNaAV96NQY8v6Zvv7DkErdEWOFDmKcsS2nJRbFwAA') format('woff2'),
  url('./iconfont/iconfont.woff?t=1563971175127') format('woff'),
  url('./iconfont/iconfont.ttf?t=1563971175127') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('./iconfont/iconfont.svg?t=1563971175127#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\e603";
}

.icon-up:before {
  content: "\e609";
}

